@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

:root{
    --Dark-cyan: #3c8067;
    --cream: #f2ebe3;
    --Dark-blue: #1c232b;
    --grayish-blue: #6c7289;
    --white: #ffffff;
    --Dark-green: #133327;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-size: 14px; 
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;

}

.main-container{
    background-color: var(--white);
    width: 330px;
    height: 550px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

img{
    max-width: 100%;
    object-fit: contain;
}

.img_1{
    display: block;
}

.img_2{
    display: none;
}

.product_info{
    padding: 0px 20px;
}

.product_info h4{
    letter-spacing: 5px;
    color: var(--grayish-blue);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin: 14px 0px;
}

.product_info h1{
    font-weight: 700;
    margin-bottom: 13px;
    font-family: 'Fraunces', serif;
}

.product_info p{
    font-weight: 500;
    font-size: 14px;
    color: var(--grayish-blue);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 19px;
}

.product_price{
   display: flex;
   align-items: center;
   margin-bottom: 16px;
   color: var(--grayish-blue);
   
}

.product_price .current{
    color: var(--Dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 25px;
    font-weight: 700;
}

.product_price .previous{
    text-decoration: line-through;
    margin-left: 20px;
    font-size: 13px;
}

button{
    background-color: var(--Dark-cyan);
    color: var(--white);
    width: 290px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
}

button:hover{
    background-color: var(--Dark-green);
    cursor: pointer;
}

button img{
    margin-right: 10px;
    font-size: 13px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1024px) {
   
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        height: 375px;
        overflow: hidden;
    }
    
    .img_1{
        display: none;
    }
    .img_2{
        display: block;
    }

    img{
        max-width: 100%;
        max-height: 100%;
        position: relative;
    }


    .product_info{
        padding: 0px 10px 0px 15px;
        height: 100px;
    }

    .product_info h4{
        padding: 16px 0px;
    }

    .product_info p{
        margin: 27px 0px;
    }

    .product_price{
        margin: 20px 0px;
    }

    button{
        margin: 17px 0px;
    }
}

